

/* Styling Input type=text*/
input[type="text"] {
    border: none;
    outline: none; 
    background-color: $white;
    height: 46px;
    width: 100%;
    border-radius: 100px; 
    padding: 0 20px;
    box-sizing: border-box;
}

/* Styling Input type=checkbox */

.input-container {
    position: relative; 
} 

.input-container input {
    visibility: hidden;
}

/* Check style when not checekd */
.checkmark {
    background-color: $white;
    border: 2px solid $purple;
    border-radius: 6px;
    position: absolute;
    top: -4px;
    left: 0;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

/* when input was checked */
.input-container input:checked~.checkmark {
    background-color: $purple;
}

/* hide check shape container*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* show check shape container*/
.input-container input:checked~.checkmark:after {
    display: inline-block;
}

.input-container .checkmark:after { 
    position: absolute;
    top: 10%;
    left: 35%;
    transform: rotate(45deg);
    height: 10px;
    width: 3px;
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
}